/* Master Styles */
body {
    margin: 2em;
}

/*FIXME: I thought I could put the input and button styles in the app component's style sheet?*/
body, input[text], button {
    color: #888;
    font-family: Cambria, Georgia;
}