<fieldset>
    <legend>{{ budget.name }}</legend>
    
    <div>
        <button (click)="removeBudget(budget.$key)">Remove Budget</button>
    </div>
    
    <input type="text" #name>
    <button (click)="addCategory(budget, name.value)">Add Category</button>

    <!--<ul ngIf="budget.categories">
        <li *ngFor='let category of budget.categories; let i=index'>
            <span>{{i}}: {{category.name}}</span>
            <button (click)="removeCategory(account.$key)">Delete</button>
        </li>
    </ul>-->
</fieldset>