<div>
    <h2>Transactions</h2>
    
    <input type="number" value="5" #amount>
    <input type="text" value="test payee" #payee>
    <input type="date" value="1999-01-31" #date>
    <input type="text" value="test memo" #memo>
    <select #categoryId>
        <option *ngFor="let category of categories" value="{{category.$key}}">{{category.name}}</option>
    </select>
    <select #accountId>
        <option *ngFor="let account of accounts" value="{{account.$key}}">{{account.name}}</option>
    </select>
    <button (click)="addTransaction(amount.value, payee.value, date.value, memo.value, categoryId.value, accountId.value)">Add Transaction</button>
    
    <table border="1">
        <tr>
            <th>Amount</th>
            <th>Payee</th>
            <th>Date</th>
            <th>Memo</th>
            <th>Category Id</th>
            <th>Account Id</th>
        </tr>
        
        <tr *ngFor="let transaction of transactions">
            <td>{{transaction.amount}}</td>
            <td>{{transaction.payee}}</td>
            <td>{{transaction.date}}</td>
            <td>{{transaction.memo}}</td>
            <td>{{transaction.categoryId}}</td>
            <td>{{transaction.accountId}}</td>
            <td><button (click)="removeTransaction(transaction.$key)">Delete</button></td>
        </tr>
    </table>
</div>